body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.locked-container {
  margin-top: 100px;
  color: var(--danger);
}
